.product-card {
  width: 23%;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  
  .product-image {
    transform: scale(1.03);
  }
}

.product-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-image {
    transition: transform 0.3s ease
}

.product-info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.product-info h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  color: #213547;
}

.product-info .price {
  font-size: 1rem;
  font-weight: 600;
  color: #ff6600;
}

.product-info button {
  margin-top: 0.5em;
  padding: 0.6em 1em;
  border: none;
  background-color: #ff6600;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.product-info button:hover {
  background-color: #e05500;
}

@media (max-width: 900px) {
  .product-card {
    width: 100%;
  }
}