
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.otsikko-ja-kategoriat {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.kategoriat {
  display: flex;
  gap: 3em;
}

.kategoriat h2 {
  font-weight: 400;
}

.kayttaja-ja-kori {
  display: flex;
  gap: 2em;
  align-items: center;
}